@media (min-width: 750px) {
	body {
		display: flex;
		height: 100vh;
		align-items: center;
	}

}

.profile {
	border-radius: 50%;
}

@media (max-width: 550px) {
	.profile_big {
		display: none;
	}
	.profile_smol {
		display: inline;
	}
}

@media (min-width: 550px) {
	.profile_big {
		display: inline;
	}
	.profile_smol {
		display: none;
	}
}